{
    "det_name"          : "next100",
    "event_type"        : "Tl208",

    "input_fname"       : "/Users/Javi/Development/FANAL/data/next100/Tl208/sim/*.h5",
    "output_fname"      : "/Users/Javi/Development/FANAL/data/next100/Tl208/fanal/fanal.next100.Tl208.fwhm_07.voxel_10x10x10.h5",

    "fwhm"              : 0.7,
    "e_min"             : 2400.0,
    "e_max"             : 2500.0,

    "voxel_size"        : [10.0, 10.0, 10.0],
    "strict_voxel_size" : false,
    "voxel_Eth"         : 2.0,

    "veto_width"        : 20.0,
    "min_veto_e"        : 2.0,

    "track_Eth"         : 3.0,
    "max_num_tracks"    : 1,
    "blob_radius"       : 18.0,
    "blob_Eth"          : 350.0,

    "roi_Emin"          : 2449.0,
    "roi_Emax"          : 2466.0,

    "verbosity"         : "WARNING"
}
