{
    "det_name"          : "NEXT100",
    "event_type"        : "Bi214",

    "input_fname"       : "/Users/Javi/Development/FANAL/data/next100/Bi214/sim/*.h5",
    "output_fname"      : "/Users/Javi/Development/FANAL/data/next100/Bi214/fanal/fanal.next100.Bi214.fwhm_07.voxel_10x10x10.h5",

    "buffer_Eth"        : 2.0,

    "trans_diff"        : 0.0,
    "long_diff"         : 0.0,
    "fwhm"              : 0.7,

    "e_min"             : 2400.0,
    "e_max"             : 2500.0,

    "voxel_size_x"      : 10.0,
    "voxel_size_y"      : 10.0,
    "voxel_size_z"      : 10.0,
    "strict_voxel_size" : false,
    "voxel_Eth"         : 2.0,

    "veto_width"        : 20.0,
    "veto_Eth"          : 2.0,

    "track_Eth"         : 3.0,
    "max_num_tracks"    : 1,
    "blob_radius"       : 18.0,
    "blob_Eth"          : 350.0,

    "roi_Emin"          : 2449.0,
    "roi_Emax"          : 2466.0,

    "verbosity"         : "WARNING"
}
