{
    "det_name"          : "NEXT100",
    "event_type"        : "bb0nu",

    "input_fname"       : "/Users/Javi/Development/FANAL/data/next100/bb0nu/sim/*.h5",
    "output_fname"      : "/Users/Javi/Development/FANAL/data/next100/bb0nu/fanal/fanal.next100.bb0nu.fwhm_05.voxel_3x3x3.h5",

    "fwhm"              : 0.5,
    "e_min"             : 2400.0,
    "e_max"             : 2500.0,

    "voxel_size_x"      : 3.0,
    "voxel_size_y"      : 3.0,
    "voxel_size_z"      : 3.0,
    "strict_voxel_size" : false,
    "voxel_Eth"         : 2.0,

    "veto_width"        : 20.0,
    "veto_Eth"          : 2.0,

    "track_Eth"         : 3.0,
    "max_num_tracks"    : 1,
    "blob_radius"       : 15.0,
    "blob_Eth"          : 300.0,

    "roi_Emin"          : 2452.0,
    "roi_Emax"          : 2464.0,

    "verbosity"         : "WARNING"
}
