{
    "det_name"          : "FLEX100F",
    "input_fname"       : "/Users/Javi/Development/FANAL/data/flex100f/kr/sim/*.h5",
    "output_fname"      : "/Users/Javi/Development/FANAL/data/flex100f/kr/fanal/fanal.flex100f.kr.h5",

    "veto_width"          : 20.0,
    "tracking_sns_pde"    : 1.0,
    "tracking_mask_att"   : 0.0,
    "tracking_charge_th"  : 0.0,
    "correction_map_type" : "rad",

    "verbosity"         : "WARNING"
}
